<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>

<body>
	<header>
	<h1><a href="/">Quaker Myth Busters</a></h1>
			{% include navigation.markdown %}
		</header>
		<nav class="breadcrumbs">
			<a href="/">Home</a> {% if page.category != null %}<a href="/category/{{ page.category | replace:' ', '-' | downcase }}">{{ page.category }}</a> {% endif %}
		</nav>
		<div id="wrapper">
	    	{{ content }}
		</div>
{% include footer.markdown %} 

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29023528-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script> 

</body>
</html>
